.notification-dialog{
    width: 95%;
    height: 100%;
    margin: 20px;
    background: white;

}

.phoneNumberInput{
width: 444px;
height: 48px;
padding: 16px 321px 15px 21px;
border-radius: 12px;
border: 1px;
gap: 10px;
background: #C5C6C9;

}

.notifyButton{
width: Fixed (444px);
height: Fixed (48px);
top: 236px;
padding: 12px 82px 12px 82px;
border-radius: 12.000000953674316px;
gap: 10px;
background: #333741;
color: white;
margin-top: 30px;
width: 90%;
}